@import '../../styles/variables.scss';

.sale {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.wrapper {
  margin: 10px;
}

@media (min-width: $tablet) {
  .wrapper {
    max-width: 80%;
    min-width: 75%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}

@media (min-width: $tablet-max) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
