@import '../../styles/variables.scss';

.wrapper {
  display: block;
  background: #8f8f89a3;
}

.slider {
  min-width: 100%;
}

.noSlider {
  height: 400px;
  width: 100%;
}

.thumbnails {
  display: none;
}
