@import '../../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  padding: 90px 0;
  gap: 30px;

  input {
    color: $text;
    padding-left: 10px;
    border: 1px solid $base-yellow;
    border-radius: 0px;
    background-color: transparent;
    font-weight: 300;
    font-size: 12px;
    line-height: 34px;

    &:focus-visible,
    &:focus {
      border-radius: 0px;
    }
  }
}
