@import '../../styles/variables.scss';
@media (min-width: $mobile) {
  .cardContainer {
    width: 250px;
  }

  .iconWrapper {
    border: 1px solid #ffffff;
    padding: 15px;
    width: fit-content;
  }

  .productDecription {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $text;
    margin-top: 14px;
    margin-bottom: 8px;
  }
  .priceWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .price {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: $base-yellow;
  }

  .addButton {
    border: 1px solid $base-yellow;
    padding: 5px 10px;
    outline: none;
    background: none;
    color: $base-yellow;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .iconWrapper {
    cursor: pointer;
    &:hover {
      border: 1px solid $base-yellow;
    }
  }
}
