.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  margin-top: 20px;
  & > p {
    line-break: anywhere;
  }
}
