@import '../../styles/variables.scss';

.CheckoutPage {
  width: 100%;
  padding-top: 65px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Tabs {
  padding: 10px;
  border: 1px solid $details;
}

h2 {
  color: $text;
}
