@import '../../styles/variables.scss';
@media (min-width: $mobile) {
  .productsPage {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop) {
  .productsPage {
    margin: 0 0 130px 0;
  }
}
