@import '../../styles/variables.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  & > span {
    background-color: darkgreen;
    padding: 10px;
    border-radius: 30px;
    color: $base-yellow;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
}
