@import '../../styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  & > * {
    width: 47%;
  }
}

.submitButton {
  margin-top: 14px;
  border: 1px solid $base-yellow;
  background-color: transparent;
  color: $base-yellow;
  padding: 11px;
  text-transform: uppercase;

  &:hover {
    color: $details;
    border: 1px solid $details;
  }
}
