@import "../../styles/variables.scss";
@media (min-width: $mobile) {
    .filter {
        position: fixed;
        background: $background;
        height: 100%;
        width: 60vw;
        display: none;
    }
}