@import '../../styles/variables.scss';
@media (min-width: $mobile) {
  .productsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 0;
    justify-items: center;
    width: fit-content;
    margin-top: 25px;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .containerWishlist {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }

  .contentProductsWrapper {
    display: flex;
    justify-content: center;
  }

  .filterToolsWrapper {
    width: 220px;
  }
  .productsContainerWithOutItems {
    color: $text;
    text-align: center;
    width: 62%;
    margin: 50px 0 0 0;
  }
}

@media (min-width: $tablet) {
  .productsContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 40px;
  }

  .filterToolsWrapper {
    width: 740px;
  }
}

@media (min-width: $tablet-max) {
  .productsContainer {
    margin-left: 50px;
  }

  .filterToolsWrapper {
    width: 220px;
  }
}

@media (min-width: $desktop) {
  .productsContainer {
    justify-items: end;
    grid-template-columns: repeat(4, 1fr);
  }
}
