@import '../../styles/variables.scss';
@import '../../styles/reset.scss';

//------------------MOBILE

.header {
  display: flex;
  justify-content: space-between;
  background: $background;
}

.nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  top: 75px;
}

.navList {
  //display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  background: #ffffff54;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}

.navLine {
  width: 2px;
  height: 28px;
  border-radius: 1px;
  background: $base-yellow;
}

.menuImg {
  width: 37px;
  height: 37px;
}

.navItem {
  padding: 7px;
  width: 100%;
  border-radius: 4px;
  border-bottom: $text solid 1px;
}

.navItem:hover {
  background: #ffffff54;
}

.navItem:active {
  background: $active-btn;
}

.navItem:last-child {
  border: 0;
}

.navLink {
  @extend .logIn;
  text-decoration: none;
}

.logo {
  width: 90px;
  height: 95px;
}

.additionalNav {
  display: flex;
  align-items: center;
}

.cartImg {
  @extend .menuImg;
}

.logIn {
  color: $base-yellow;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  border-radius: 4px;
}

.logIn:active {
  color: $background;
  background: $active-btn;
}

.logOut {
  @extend .logIn;
  display: none;
}

//------------------TABLET

@media (min-width: $tablet) {
  .nav {
    position: absolute;
    top: 90px;
  }

  .menuImg {
    width: 45px;
    height: 45px;
  }

  .navLine {
    height: 30px;
  }

  .navItem {
    padding: 10px;
  }

  .logo {
    width: 110px;
    height: 115px;
  }

  .logIn {
    font-size: 20px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
  }
}

//------------------TABLET-MAX

@media (min-width: $tablet-max) {
  .menu {
    display: none;
  }

  .nav {
    position: relative;
    top: 0;
    left: 0;
  }

  .navItem {
    border: 0;
  }

  .navList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: none;
  }

  .logo {
    width: 137px;
    height: 145px;
    margin-left: 15px;
  }

  .navLine {
    height: 32px;
  }

  .logIn {
    font-size: 22px;
    line-height: 26px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .menuImg {
    width: 50px;
    height: 50px;
  }
}
