@import '../../styles/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  background: $background;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.dummy {
  height: 99px;
}

.nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
  top: 75px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  background: #8f8f89e6;
  z-index: 1;
}

.none {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  cursor: pointer;
}

.navLine {
  width: 2px;
  height: 28px;
  border-radius: 1px;
  background: $base-yellow;
}

.menuImg {
  width: 37px;
  height: 37px;
}

.navItem {
  width: 100%;
  border-bottom: $text solid 1px;
}

.navItem:last-child {
  border: 0;
}

.navLink {
  color: $base-yellow;
  text-transform: uppercase;
  padding: 10px 50px 10px 15px;
  margin: 2px;
  font-size: 18px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 90px;
  height: 95px;
}

.additionalNav {
  display: flex;
  align-items: center;
  position: relative;
}

.cartImg {
  @extend .menuImg;
}

.logIn {
  color: $base-yellow;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
}

.logIn:active {
  color: $text;
}

.logOut {
  @extend .logIn;
  cursor: pointer;
}

.cartQuantityWrapper {
  display: inline-block;
  background: darkgreen;
  color: $base-yellow;
  text-align: center;
  border-radius: 50%;
  padding: 0.5px 4px;
  position: absolute;
  left: 111px;
  top: 45px;
  font-size: 11px;
}

//------------------TABLET

@media (min-width: $tablet) {
  .nav {
    position: absolute;
    top: 90px;
  }

  .menuImg {
    width: 45px;
    height: 45px;
  }

  .navLine {
    height: 30px;
  }

  .navItem {
    padding: 10px;
  }

  .logo {
    width: 110px;
    height: 115px;
  }

  .logIn {
    font-size: 20px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
  }
  .dummy {
    height: 119px;
  }
}

//------------------TABLET-MAX

@media (min-width: $tablet-max) {
  .dummy {
    height: 149px;
  }

  .menu {
    display: none;
  }

  .nav {
    position: relative;
    top: 0;
    left: 0;
  }

  .navItem {
    border: 0;
  }

  .navList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: none;
  }

  .none {
    display: flex;
  }

  .navItem:hover {
    text-align: center;
    transform: scale(1.2);
    text-shadow: 0 0 15px $active-btn;
  }

  .logo {
    width: 137px;
    height: 145px;
    margin-left: 15px;
  }

  .navLine {
    height: 32px;
  }

  .logIn {
    font-size: 22px;
    line-height: 26px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
  }

  .menuImg {
    width: 50px;
    height: 50px;
  }
}
