@import '../../styles/variables.scss';

//------------------MOBILE

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment * {
  height: 45px;
}

//------------------TABLET

@media (min-width: $tablet) {
  .payment * {
    height: 53px;
  }
}

//------------------TABLET-MAX

@media (min-width: $tablet-max) {
  .payment * {
    height: 62px;
  }
}

//------------------DESKTOP

@media (min-width: $desktop) {
  .payment * {
    height: 65px;
  }
}
