@import '../../styles/variables.scss';

.mainWrapper {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $details;
  display: flex;
  justify-content: space-between;
  & svg {
    cursor: pointer;
  }
}

.imgWrapper {
  display: flex;
  max-width: 15%;
  & > * {
    width: 100%;
    border: 1px solid #ffffff;
  }
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.infoWrapperTitle {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.infoWrapperTitleText {
  font-size: 15px;
  line-height: 23px;
  color: $text;
}

.infoWrapperTitleCode {
  color: $details;
  align-self: flex-end;
  font-size: 10px;
  margin: 5px 0 10px 0;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.infoWrapperQuantity {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 20px;
}

.infoWrapperQuantityValue {
  font-size: 10px;
  color: $text;
  margin-bottom: 8px;
}

.infoWrapperQuantityBlock {
  display: flex;
  align-items: center;
  min-width: 20%;
}

.infoWrapperQuantityBlockMinus {
  border: 1px solid $text;
  display: flex;
}

.infoWrapperQuantityBlockMinusNotWork {
  border: 1px solid grey;
  display: flex;
}

.infoWrapperQuantityBlockMinusItem {
  fill: $text;
}

.infoWrapperQuantityBlockMinusItemNotWork {
  fill: grey;
}

.infoWrapperQuantityBlockValue {
  color: $text;
  margin: 0 9px;
  font-size: 20px;
  min-width: 30px;
  text-align: center;
}

.infoWrapperQuantityBlockPlus {
  display: flex;
  border: 1px solid $text;
}

.infoWrapperQuantityBlockPlusItem {
  fill: $text;
}

.priceDeleteWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.deleteWrapper {
  display: flex;
  justify-content: flex-end;
}

.deleteWrapperItem {
  fill: white;
}

.priceValue {
  display: flex;
  font-size: 20px;
  color: $base-yellow;
  & span {
    margin-right: 5px;
    white-space: nowrap;
  }
}

@media (min-width: $tablet) {
  .imgWrapper {
    max-width: 25%;
  }
  .infoWrapperTitleText {
    font-size: 20px;
  }
  .infoWrapperTitleCode {
    font-size: 14px;
  }

  .priceValue {
    font-size: 24px;
  }
}

@media (min-width: $tablet-max) {
  .mainWrapper {
    max-width: 90%;
  }

  .imgWrapper {
    max-width: 15%;
  }
}
