button {
  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  background-color: transparent;
  font-variant: small-caps;
  color: #6d6d69;
}

.btnActive {
  color: #ffffff;
}
